<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>

		<!--DEVELOPMENT Server  -->
		<add connectionString="Server=BTWP014409\SQL19PR01;Database=FERMETURE_ACTIVITES;User ID=fermeractivites;Password=123456; Connection Timeout=20" name="BireDB" providerName="System.Data.SqlClient" /> 

	</connectionStrings>
	
</configuration>